<?xml version="1.0" encoding="utf-8" ?>
 <configuration>
     <configSections>
     </configSections>
     <startup> 
         <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
     </startup>
   <connectionStrings>
     <clear />

  
     <add name="PoppelOrderSystem.Properties.Settings.PoppelOrderSystemDataBaseConnectionString"
       connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\PoppelOrderSystemDataBase.mdf;Integrated Security=True"
       providerName="System.Data.SqlClient" />
   </connectionStrings>
     
 </configuration>